ul, ol, input, p {
	margin: 0;
	padding: 0;
}

input:focus {
	outline: none;
}

.wrapper {
	margin: 0;
	background-image: url("/images/datamgmt.jpg");
	padding: 10px;
	height: 100vh;
}

.chat-header {
	color: ghostwhite;
	border: 2px solid ghostwhite;
	margin-bottom: 30px;

}

.heading {
	padding-left: 30px;
}

.main-section {
	font-size: 16px;
	font-family: Arial sans-serif;

}

.main-section-chat {
	margin: 0 auto;
	padding: 50px;
	border: 2px solid ghostwhite;

}

.main-section-chat-list {
	list-style: none;

}

.main-section-chat-list-item {
	position: relative;
	/*box-shadow: ;*/
}

.main-section-chat-list-item p {
	margin-bottom: 30px;
	border: 1px solid grey;
	padding: 20px 10px;
	background-color: white;
	font-size: 20px;
}

.remove-button {
	background: url("/images/close.jpg");
	background-size: cover;
	position: absolute;
	right: -25px;
	top: 0;
	width: 20px;
	height: 20px;
	background-color: inherit;

}

.chat-form {
	display: flex;
	flex-direction: row;
}

.message {
	padding: 10px 5px;
	border: 1px solid grey;
	flex-grow: 1;
}


.submit-button {
	padding: 10px 20px;
	margin-left: 15px;
	border: 1px solid grey;


}
