ul, ol, input, p {
	margin: 0;
	padding: 0;
}

textarea:focus {
	outline: none;
}

.wrapper {
	margin: 0;
	background-image: url("/images/datamgmt.jpg");
	padding: 10px;
	height: 100vh;
	box-sizing: border-box;
}

.chat-header {
	color: ghostwhite;
	border: 2px solid ghostwhite;
	margin-bottom: 30px;
}

.heading {
	padding-left: 30px;
}

.main-section {
	font-size: 20px;
	font-family: Arial sans-serif;

}

.main-section-chat {
	margin: 0 auto;
	padding: 50px;
	border: 2px solid ghostwhite;
	height: calc(100vh - 240px);
	display: flex;
	flex-direction: column;

}

.main-section-chat-list {
	list-style: none;
	flex-grow: 1;
	max-height: 684px;
	overflow: auto;
	margin-bottom: 25px;

}

.main-section-chat-list-item {
	padding-right: 25px;
	position: relative;
	/*box-shadow: ;*/
}

.main-section-chat-list-item p {
	margin-bottom: 30px;
	border: 1px solid grey;
	padding: 20px 10px;
	background-color: white;
	font-size: 20px;
}

.remove-button {
	background: url("/images/123.svg");
	background-size: cover;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
	background-color: inherit;
	cursor: pointer;
}

.chat-form {
	display: flex;
	flex-direction: row;
}

.message {
	padding: 20px 10px;
	border: 1px solid grey;
	flex-grow: 1;
	font-size: 20px;
	font-family: Arial sans-serif;
}


.submit-button {
	padding: 10px 20px;
	margin-left: 15px;
	border: 1px solid grey;
	font-size: 25px;
}
